TestProject/.vscode/
TestProject/__pycache__/*.pyc
controlqueue/__pycache__/*.pyc
controlqueue/migrations/__pycache__/*.pyc
controlqueue/tests/__pycache__/*.pyc
testapp/__pycache__/*.pyc
testapp/migrations/__pycache__/*.pyc
testapp/tests/__pycache__/*.pyc
venv/
/.vscode/
db.sqlite3