.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	max-width: 40em;
	margin: auto;
	margin-bottom: 6em;

	.icon {
		display: static;
		background-color: rgb(93, 156, 156);
		padding: 0.2em;
		border: solid rgb(93, 156, 156);
		border-radius: 0.2em;
		
		&:not(:last-child) {
			margin-bottom: 0.1em;
		}

		&:hover, .icon:active {
			cursor: pointer;
			border: solid rgb(66, 66, 66);
		}
	}
}