{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Test app</title>
	<script>
		const personImgSource = '{% static "testapp/images/person.png" %}';

		document.addEventListener('DOMContentLoaded', function() {
			const roomName = document.getElementById('room-name').textContent;
			const socket = new WebSocket(`ws://${window.location.host}/ws/queue/${roomName}/`);
			let queueSize;

			socket.onmessage = function(event) {
				/* When establish the connection to the websocket server
				it's gonna display the queue according with the size */
				const data = JSON.parse(event.data);
				console.log(data);
				
				const queueContainer = document.querySelector('#queueContainer');

				if (data.queueSize) {
					for (let i = 0; i < data.queueSize; i++) {
						queueSize = data.queueSize;
						const person = document.createElement('img');

						person.setAttribute('src', personImgSource);
						person.classList.add('person');
						queueContainer.append(person);
					}
				} else {
					if (data.hasTheQueueIncreased) {
						queueSize++;
						const person = document.createElement('img');
	
						person.setAttribute('src', personImgSource);
						person.classList.add('person');
						queueContainer.append(person);
					} else {
						queueSize--;
	
						const firstPerson = queueContainer.firstElementChild;
						firstPerson.remove();
					}
				}
			};
		});
	</script>
</head>
<body>
	<span id="room-name" hidden >{{ room_name }}</span>
	<h2>Click <a href="{% url 'controlqueue:restrict' %}">here</a> to go to the restricted area</h2>
	<div id="queueContainer">
		<!-- The queue will be generated here via websocket -->
	</div>
</body>
</html>