{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Test app</title>
	<script>
		const personImgSource = '{% static "testapp/images/person.png" %}';
	</script>
	<script type="module" src="{% static 'testapp/JavaScript/index.js' %}"></script>
</head>
<body>
	<span id="room-name" hidden >{{ room_name }}</span>
	
	<h2>Click <a href="{% url 'controlqueue:restrict' %}">here</a> to go to the restricted area</h2>
	
	<div id="queueContainer">
		<!-- The queue will be generated here via websocket -->
	</div>
</body>
</html>