{% extends './base.html' %}

{% load static %}

{% block title %} Restrict area {% endblock %}

{% block adicional_in_head %}
	<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			document.querySelector('#increase').onclick = handleIncreaseQueueSize;

			document.querySelector('#decrease').onclick = handleDecreaseQueueSize;

			
			const socket = new WebSocket(`ws://${window.location.host}/ws/queue/`);
			socket.onmessage = function(event) {
				console.log(event.data);
			};
		});

		function handleIncreaseQueueSize() {
			document.querySelector('#queueSize').innerHTML++;
		}

		function handleDecreaseQueueSize() {
			const queueSize = document.querySelector('#queueSize');

			if (queueSize.innerHTML > 0)
				queueSize.innerHTML--;
		}
	</script>
{% endblock %}

{% block content %}
	<h1 style="color: orange">This area is forbidden! Only admin users have access!</h1>
	
	<div class="container control">
		<h1>From here you can control if the queue has became bigger (+) or smaller (-)</h1>

		<h2>
			Queue size: <span id="queueSize">0</span>
		</h2>

		<span id="increase" class="icon" style="font-size: 6em">
			<i class="fas fa-plus"></i>
		</span>
		<span id="decrease" class="icon" style="font-size: 6em">
			<i class="fas fa-minus"></i>
		</span>
	</div>
{% endblock %}