.personWalking {
	position: relative;

	animation-name: walk;
	animation-duration: 2s;
	animation-direction: forwards;
	animation-timing-function: ease-out;
}

@keyframes walk {
	from {
		left: 75%;
	}

	to {
		left: 0;
	}
}
